.speed-pagination {
	display: flex;

	&-page {
		width: 30px;
		height: 30px;
		background: #fff;
		outline: none;
		border: 1px solid #aaa;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 5px 5px;
	}

	&-page:hover {
		border: 1px solid $blue;
		cursor: pointer;
	}

	&-page-active {
		background: $blue;
		color: #fff;
	}

	&-page-disabled {
		background: #e6e6e6;
		color: #cfcfcf;
		border: none;
	}
}
