@import "../commonStyle/variables.scss";

.speed-badge {
  position: relative;
  &-numDot {
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
    border-radius: 50%;
    background: red;
    color: #fff;
    padding: 1px 3px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
