@import "../commonStyle/variables.scss";

.speed-badge {
  position: relative;
  &-numDot {
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
    background: red;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
  }
}
