@import '../commonStyle/variables.scss';

.speed-collapse {
  &-panel {
    box-shadow: 0px 0px 10px rgb(202, 202, 202);

    &-header {
      background: #f7f7f7;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      cursor: pointer;
    }

    &-header:hover {
      background: rgb(228, 228, 228);
      color: #fff;
    }

    &-content {
      box-sizing: border-box;
      overflow: hidden;
      overflow-y: auto;
      transition: height 0.5s ease-in;
    }
  }
}
