@import '../commonStyle/variables.scss';

.speed-collapse {
  &-panel {
    &-header {
      background: #f7f7f7;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }

    &-content {
      box-sizing: border-box;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      overflow: hidden;
      transition: height 1s ease-in-out;
    }
  }
}
