@import "../commonStyle/variables.scss";

.speed-drawer {
	position: fixed;
	z-index: 999999999999;
	top: 0;
	width: 0;
	height: 100vh;
	background: #fff;
	color: #000;
	&-left {
		left: 0;
		border-right: 1px solid #aaa;
	}

	&-right {
		right: 0;
		border-left: 1px solid #aaa;
	}

	&-content {
	}

	&-item {
	}

	&-icon {
	}

	&-desc {
	}

	&-title {
	}

	&-subtitle {
	}
}
