@import "../commonStyle/variables.scss";

.speed-drawer {
	position: fixed;
	top: 0;
	width: 0;
	height: 100vh;
	background: #fff;
	color: #000;
	transition: width 1s linear;
	&-left {
		left: 0;
	}

	&-right {
		right: 0;
	}

	&-width {
		width: 500px;
	}

	&-content {
	}

	&-item {
	}

	&-icon {
	}

	&-desc {
	}

	&-title {
	}

	&-subtitle {
	}
}
