@import "../commonStyle/variables.scss";

.speed-formItem {

  &-input {
    display: block;
  }

  &-button {
    margin-top: 20px;
    width: 100%;
    display: flex;
  }

  &-error-info {
    color: $red;
    height: 30px;
  }

  &-error-required {
    color: $red;
    margin-right: 4px;
  }
}