@font-face {
	font-family: "iconfont"; /* Project id  */
	src: url("iconfont.ttf?t=1660551500912") format("truetype");
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
	content: "\e6ae";
}

.icon-star-active:before {
	content: "\e6ae";
}

.icon-Star:before {
	content: "\ebe1";
}

.icon-Star-active:before {
	content: "\ebe1";
}

.icon-money:before {
	content: "\e635";
}

.icon-money-active:before {
	content: "\e635";
}

.icon-ok-circle:before {
	content: "\e622";
}

.icon-ok-circle-active:before {
	content: "\e622";
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 36px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconunstar:before {
	content: "\e645";
}

.iconstar:before {
	content: "\e73c";
	color: yellow;
}

.speed-rate {
	display: flex;
	align-items: center;
	&-item {
		margin-right: 10px;
	}

	&-item:hover {
		transform: scale(1.1);
		transition: all 0.5s linear;
	}

	&-animation {
		animation: small-to-big 1s;
		animation-iteration-count: 1;
	}

	&-text {
		margin-left: 10px;
	}
}
