@import "../commonStyle/variables.scss";

.speed-switch {
  position: relative;
  width: 44px;
  height: 22px;
  background: $gray-500;
  border-radius: 20px;
  display: flex;
  align-items: center;

  &-bg-active {
    background: $blue;
  }

  &-circle {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 2px;
    background: $gray-100;
    border-radius: 15px;
    transition: all .3s linear;
  }

  &-circle:hover {
    cursor: pointer;
  }

  &-circle-active {
    transform: translateX(22px);
    transition: all .5s linear;
  }
}

.speed-switch-small {
  position: relative;
  width: 30px;
  height: 16px;
  background: $gray-500;
  border-radius: 8px;
  display: flex;
  align-items: center;

  &-bg-active {
    background: $blue;
  }

  &-circle {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 1px;
    background: $gray-100;
    border-radius: 7px;
    transition: all .2s linear;
    cursor: pointer;
  }

  &-circle-active {
    transform: translateX(13px);
    transition: all .2s linear;
  }
}