@import '../commonStyle/variables.scss';

.text-default {
  color: $default;  
}

.text-secondary {
  color: $secondary;  
}
.text-success {
  color: $success;  
}
.text-warning {
  color: $warning;  
}
.text-danger {
  color: $danger;  
}

.text-mark {
  background: $yellow;
}
.text-code {
  background: $gray-500;
}
.text-keyboard {
  background: $gray-200;
}
.text-underline {
  text-decoration:underline
}
.text-strong {
  font-weight: bold;
}
.text-deleted {
  background: #000;
}
.text-italic {
  font-style: italic;
}
.text-href {
  color: $blue;
}