body {
  @include theme-aware('background', 'global-background');
  @include theme-aware('color', 'global-color');
}

// // 在css内部针对性修改
// button {
//   .theme-light & {
//     background: #f30000;
//   }
//   .theme-dark & {
//     background: #ee0fd0;
//   }
// }

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sfc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sfv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sf {
  display: flex;
}

.speed-dark {
  background: #000 !important;
  color: #fff !important;
}

input {
  caret-color: #aaa;
}
